body {
    /*    font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    text-decoration: none;
    width: 100%;
}

li{
    list-style: none;
    text-decoration: none;
}

p{
    font-size: 1.2em;
}

#menu-link{
    text-decoration: none;
    color: black;
}

#menu-link-cur {
    text-decoration: none;
    color: #404E77;
}

#menu-link:hover, #menu-link:focus, #menu-link:active
{
    color: #404E77;
}

.row {
    display: flex;
}

.col {
    flex: 50%;
}

.table-widths {
    width: 10%;
}
.header{
/*    border-bottom: 1px solid #404E77;*/
/*    margin: 0em 2em 0em 0em;*/
}

.header-col{
    flex: 50%
}

#header-top{
    margin-right: 0px;
}

#welcome-col{
    align-items: center;
/*    margin-right: 2em;*/
}
.header-image {
    margin-left: 2em;

    width: 200px;
    height: auto;
}

.menu { 
    float: right;
    display: flex;
    gap: 1em;
    margin: 1.2em 0em 1em 0em;
    padding-right:3em;
}

.menu a {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
}

.foreground-image-block{
    margin-top: 1em;
}
.foreground-image-block img {
    width: 100%;
    height: auto;
}

.foreground-spacer-block{
    background-color: #404E77;
    height: 1em;
    width: 100%;
}
.spacer-block {
    background-color: #404E77;
    height: 3em;
}

#index-heading{
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 0px;
    font-weight: 800;
}

.background {

    background-color: white;
}
.foreground{
    /* margin: 0em 2em; */
    background-color: white;
}

.main-content{
    padding: 1em;
    margin-right: 2em;
}

.mb-3 {
    padding: 1em 0em 0em 0em;
}

.download-heading{
    padding-bottom: 0;
    margin-bottom: 0;
}

#age-plot{
    padding-top: 0;
    margin-top: 0;
    display: block;
}

.error-page {
    text-align: center;
}

.error-image {
    width: 300px;
    height: auto;

    margin: auto;
    display: block;

}

.error-message {
   font-weight: 500;
}

.error-message-cont{
    font-weight: 100;
}

.overflow-auto{
    height: 8em;
    overflow:auto
}

#docs-sidebar {
    border-right: 1px solid #404E77; 
    /* padding: 0; */
}

.doc-content { 
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.4em;
}

.doc-content:hover{
    text-decoration: none;
    color: #404E77;
}

.doc-content-sub {
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-weight: 400;
    font-size: 1.4em;
}

.doc-content-sub:hover{
    text-decoration: none;
    color: #404E77;
}

.output-buttons { 
    margin: 0em 1em;
}

.nav-header
{
    padding: 1em 0em;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
