{% extends 'base-documentation.html' %}


{% block content %}

<div class="container-fluid">
  <!-- <div class="docs-content"> -->

  <div class="row" id="docs-wrapper">
    <div class="col-2 bg-light" id="docs-sidebar">
      <div class="sticky-top">
        <br>
        <h2 class="text-center">Contents</h2>

        <li><a class="doc-content" href="#">Get Started</a></li>
        <li><a class="doc-content" href="#run-simulation">Run Simulation</a></li>
        <li><a class="doc-content-sub" href="#simulation-modes">Simulation Modes</a></li>
        <li><a class="doc-content" href="#settings-preset-file">Settings Preset File</a></li>
        <li><a class="doc-content" href="#run-simulation">Buld Simulation Preset</a></li>
        <li><a class="doc-content" href="#simulation-models">Simulation Models</a></li>
        <li><a class="doc-content-sub" href="#pipe-network">Pipe Network</a></li>
        <li><a class="doc-content-sub" href="#flow-description">Flow Description</a></li>
        <li><a class="doc-content" href="#simulation-arguments">Simulation Arguments</a></li>
        <li><a class="doc-content-sub" href="#diffusion">Diffusion</a></li>
        <li><a class="doc-content-sub" href="#particle-density">Particle Density</a></li>
        <li><a class="doc-content-sub" href="#time-granularity">Time Granularity</a></li>
        <li><a class="doc-content" href="#outputs">Outputs</a></li>
        <li><a class="doc-content-sub" href="#age-plot">Age Plot</a></li>
        <li><a class="doc-content-sub" href="#concentration-plot">Concentration Plot</a></li>
        <li><a class="doc-content-sub" href="#particle-modifier-histogram">Particle Modifier Histogram</a></li>
        <li><a class="doc-content-sub" href="#pipe-network-diagram">Pipe Network Diagram</a></li>
        <li><a class="doc-content" href="#download-logs">Download Logs</a></li>


      </div>
    </div>

    <div class="col-10" id="docs-main">
        
      <br>
      <h1>Documentation</h1>
      <div class="foreground-spacer-block"></div>
      <br />

      <h2 id="get-started">Get Started</h2>
      <p>Pipesim is a tool for simulating water residence times in a plumbing system or pipe network. It was
        designed to provide data about how long water remains in pipes within a building plumbing system before being
        expelled through a water faucet or other outlet. </p>

      <h2 id="run-simulation">Run Simulation</h2>
      <p>The PipeSim pipe network residence time simulation will run for a given amount of time before producing visual charts and raw data.</p>
      <h3 id="simulation-modes">Simulation Modes</h3>
      <p>There are two ways to run PipeSim: with a <a href = "#settings-preset-file">settings preset file</a> or with a
        <a href = "#build-simulation-preset">build simulation preset</a>. Each method allows for control over all aspects of the simulation.</p>
       <p> Both require two <em>CSV</em> files: one for the <a href = "#pipe-network">pipe network</a> and one for the <a href = "#flow-description">flow description</a>. </p>

      <h2 id="settings-preset-file">Settings Preset File</h2>
      <p> To get started, open a new <em>CSV</em> file. </p>

      <div class="alert alert-secondary align-middle" role="alert">
        <h1><i class="bi bi-exclamation"></i> <span class = "align-middle">Note that the Parent, Root?, and Endpoint? entries are <em>case-sensitive</em>. </span></h1> </div>
        
      <p>The first row (header) of the <em>CSV</em> file is as folows: </p>
      <!-- <p> This will require both a <a href = "#pipes-network">pipes network</a></p> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="table-widths">Pipes File Path</th>
            <th scope="col" class="table-widths">Flows Presets File Path</th>
            <th scope="col" class="table-widths">Density [0-1]</th>
            <th scope="col" class="table-widths">Diffusion Status [Yes/No]</th>
            <th scope="col" class="table-widths">Molecular Diffusion Coefficient</th>
            <th scope="col" class="table-widths">Granularity</th>
          </tr>
        </thead>
      </table>
      <p>The line following the header will look something like the following: </p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col" class="table-widths">C:\path\to\example-model.csv</td>
            <td scope="col" class="table-widths">C:\path\to\example-preset.csv</td>
            <td scope="col" class="table-widths">0.5</td>
            <td scope="col" class="table-widths">Yes</td>
            <td scope="col" class="table-widths">2.14</td>
            <td scope="col" class="table-widths">Minutes</td>
          </tr>
        </tbody>
      </table>

      <p>The columns of this table describe the following: </p>
      <strong>Pipes File Path: </strong>
      <p>The path to your local pipe network (<em>.CSV</em>) file. </p>
      <strong>Flows Presets File Path: </strong>
      <p>The path to your local flows preset (<em>.CSV</em>) file. </p>
      <strong>Density [0-1]: </strong>
      <p>Particle density per inch. The distance between new particles placed in the pipe siumulation. Values withheld to range of [0.1, 1]</p>
      <strong>Diffusion Status [Yes/No]: </strong>
      <p>Indicates whether diffusion, the net spreading of water particles in the pipe network is turned on or off. </p>
      <strong>Molecular Diffusion Coefficient: </strong>
      <p> The specification of the molecular diffusion coefficient, just one part of the diffusion equation. Can be left blank if diffusion status is 'No' </p>
      <strong>Granularity: </strong>
      <p> The computational time step of the simulation. Can be set to seconds, minutes, or hours. </p>
      <h2 id="build-simulation-preset">Build Simulation Preset</h2>
      <h2 id="simulation-models">Simulation Models</h2>
      <p> This simulation requires input in the form of two <em>CSV</em> files: one for the pipe network and one for the
        flow diagram</p>

      <h3 id="pipe-network">Pipe Network </h3>
      <p> First, we will build the pipe network file. To get started, open a new <em>CSV</em> file. </p>
      <p>The first row (header) of the <em>CSV</em> file is as follows:</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="table-widths">Name</th>
            <th scope="col" class="table-widths">Material</th>
            <th scope="col" class="table-widths">Width (inches)</th>
            <th scope="col" class="table-widths">Length (feet)</th>
            <th scope="col" class="table-widths">Parent</th>
            <th scope="col" class="table-widths">Root?</th>
            <th scope="col" class="table-widths">Endpoint?</th>
            <th scope="col" class="table-widths">D_INF</th>
            <th scope="col" class="table-widths">Alpha</th>
            <th scope="col" class="table-widths">Lambda</th>
          </tr>
        </thead>
      </table>
      <br />
      <p>The line following the header contains information about the root pipe (the first pipe in the network). The
        format of this line follows that of the header:</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col" class="table-widths">Root</th>
            <td scope="col" class="table-widths">Pex</th>
            <td scope="col" class="table-widths">12</th>
            <td scope="col" class="table-widths">100</th>
            <td scope="col" class="table-widths">NONE</th>
            <td scope="col" class="table-widths">TRUE</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
        </tbody>
      </table>

      <p>The root node lists TRUE under the root column and has no entry in the Endpoint column. Since the
        root node has no parent, NONE is written in the parent column. </p>

      <div class="alert alert-secondary align-middle" role="alert">
        <h1><i class="bi bi-exclamation"></i> <span class = "align-middle">Note that the Parent, Root?, and Endpoint? entries are <em>case-sensitive</em>. </span></h1> </div>

      <p>Each concurrent entry will describe the next connected pipe in the network. Let us explain how to create the
        model: </p>
      <ol>
        <li>root</li>
        <li>arterial-1</li>
        <li>arterial-2</li>
        <li>a2-branch-1</li>
        <li>a2-branch-2</li>
      </ol>
      <p>The five pipes are connected as diagrammed below:</p>
      <img src="static/images/tree-graph.png" alt="pipe network" class="img-fluid">
      <p>This pipe network has three endpoints. One at the end of arterial-1, one at the end of a2-branch-1, and one at
        the end of a2-branch-2. You will need to explicitly state these endpoints and give them names in the model file,
        or else these pipes will be dead-ends.</p>
      <p>We add lines describing the endpoints as follows:</p>
      <ol>
        <li>endpoint-1</li>
        <li>endpoint-2</li>
        <li>endpoint-3</li>
      </ol>
      <p>Now our pipe network looks like:</p>
      <img src="static/images/tree-graph-scaled.png" alt="pipe network" class="img-fluid">
      <br/><br/>
      <p>With a visualization of the pipe network created, let's show how this must be written into the pipe network model file.</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="table-widths">Name</th>
            <th scope="col" class="table-widths">Material</th>
            <th scope="col" class="table-widths">Width (inches)</th>
            <th scope="col" class="table-widths">Length (feet)</th>
            <th scope="col" class="table-widths">Parent</th>
            <th scope="col" class="table-widths">Root?</th>
            <th scope="col" class="table-widths">Endpoint?</th>
            <th scope="col" class="table-widths">D_INF</th>
            <th scope="col" class="table-widths">Alpha</th>
            <th scope="col" class="table-widths">Lambda</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col" class="table-widths">root</th>
            <td scope="col" class="table-widths">Copper</th>
            <td scope="col" class="table-widths">2</th>
            <td scope="col" class="table-widths">60</th>
            <td scope="col" class="table-widths">NONE</th>
            <td scope="col" class="table-widths">TRUE</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">Arterial-1</th>
            <td scope="col" class="table-widths">Copper</th>
            <td scope="col" class="table-widths">1</th>
            <td scope="col" class="table-widths">40</th>
            <td scope="col" class="table-widths">Root</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">Arterial-2</th>
            <td scope="col" class="table-widths">Copper</th>
            <td scope="col" class="table-widths">1</th>
            <td scope="col" class="table-widths">40</th>
            <td scope="col" class="table-widths">Root</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">endpoint-1</th>
            <td scope="col" class="table-widths">NONE</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">Arterial-1</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">TRUE</th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">a2-branch-1</th>
            <td scope="col" class="table-widths">pex</th>
            <td scope="col" class="table-widths">0.5</th>
            <td scope="col" class="table-widths">25</th>
            <td scope="col" class="table-widths">arterial-2</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">a2-branch-2</th>
            <td scope="col" class="table-widths">pex</th>
            <td scope="col" class="table-widths">0.75</th>
            <td scope="col" class="table-widths">15</th>
            <td scope="col" class="table-widths">arterial-2</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">endpoint-2</th>
            <td scope="col" class="table-widths">NONE</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">a2-branch-1</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">TRUE</th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
          <tr>
            <td scope="col" class="table-widths">endpoint-3</th>
            <td scope="col" class="table-widths">NONE</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">0</th>
            <td scope="col" class="table-widths">a2-branch-2</th>
            <td scope="col" class="table-widths">
              </th>
            <td scope="col" class="table-widths">TRUE</th>
            <td scope="col" class="table-widths">0.01946</th>
            <td scope="col" class="table-widths">114</th>
            <td scope="col" class="table-widths">0.1</th>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-secondary align-middle" role="alert">
        <h1><i class="bi bi-exclamation"></i> <span class = "align-middle">The first row of the pipe network spreadsheet must describe the root of the pipe network. </span></h1>
      </div>
      
      <p>The columns of this table describe the following: </p>
      <strong>Name </strong>
      <p>The name of an individual pipe. Each name must be unique. </p>

      <strong>Material </strong>
      <p>The Material of the given pipe.</p>

      <p> Pipes with the same material type must be given the same name. The program will group pipes by material type in order to measure residence times by material.</p>
        
       <p> If describing an endpoint, input "NONE" into the pipe's corresponding material cell. </p>

      <strong>Width </strong>
      <p>The width of the given pipe in inches. </p>
     
      <strong>Length </strong>
      <p>The length of the given pipe in feet.</p>

      <strong>Parent </strong>
      <p>The name of the pipe that is the parent of the given pipe. Multiple pipes may be connected to the same parent. Each individual pipe must have a single parent. </p>

      <p>If describing the root of a pipe network, input "NONE" into the pipe's corresponding parent cell. This row must be the first of the spreadsheet. </p>

      <p>Note that each pipe must appear below its parent in the pipe network file.</p>

      <strong>Root? </strong>
      <p>Indicates whether the given pipe is the root of the pipe network. Indicate "TRUE" in the Root? column of the first row of the spreadsheet, as this describes the root of the pipe network.</p>

      <strong>Endpoint? </strong>
      <p>Indicates whether the given pipe is an endpoint of the pipe network. Indicate "TRUE" in the Endpoint? column of each row describing an endpoint. Pipes designated as endpoints must not act as the parents of any other pipes in the network.</p>

      <strong id = "D_INF">D_INF </strong>
      <p>The molecular diffusion coefficient of the given pipe. This value is used to calculate the diffusion of particles in the pipe network. This should be entered in units: gallons/minute </p>

      <strong id = "Alpha">Alpha </strong>
      <p>The alpha value of the given pipe. This value is used in the calculation of diffusion for particles in the pipe network. This should be given in units: x/x </p>

      <strong>Lambda </strong>
      <p>Lambdas for the given pipe affecting various chemical decay formulas given here. </p>

     <h3 id = "flow-description">Flow Description</h3>
     <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="table-widths">endpoint</th>
          <th scope="col" class="table-widths">Start Time</th>
          <th scope="col" class="table-widths">End Time</th>
          <th scope="col" class="table-widths">Flowrate</th>
          <th scope="col" class="table-widths">Sim Lifetime</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" class="table-widths">Endpoint-1</th>
          <td scope="col" class="table-widths">0</th>
          <td scope="col" class="table-widths">120</th>
          <td scope="col" class="table-widths">5</th>
          <td scope="col" class="table-widths">1</th>
        </tr>
      
      </tbody>
    </table>

     <h2 id = "simulation-arguments">Simulation Arguments</h2>
     <h3 id = "diffusion">Diffusion</h3>
     <h3 id = "particle-density">Particle Density</h3>
     <h3 id = "time-granularity">Time Granularity</h3>
     <h2 id = "outputs">Outputs</h2>
     <h3 id = "age-plot">Age Plot</h3>
     <h3 id = "concentration-plot">Concentration Plot</h3>
     <h3 id = "particle-modifier-histogram">Particle Modifier Histogram</h3>
     <h3 id = "pipe-network-diagram">Pipe Network Diagram</h3>
     <h2 id = "download-logs">Download Logs</h2>
      <!-- <p>Note that pipes (including endpoints) that have parent pipes farther up the tree (in the diagram) must
        appear after those parent pipes in the list. There are no other restrictions on the listing order of
        pipes.</p> -->
      <h2 id="simulation-modes">Simulation modes</h2>
      <p>The application can run pre-programmed simulations which are constructed in an excel .csv file or it
        can run a probabalistic simulation based on probabilities set during configuration in the application.
      </p>
    </div>
  </div>
</div>


<!-- </div> -->

{% endblock %}