{% extends 'base.html' %}

{% block content %}

<div class="download-content">
    <h3 class="download-heading">Output From {{date_time}}</h3>

    <br /><br />

    <h4 class="download-heading">Age Plot</h4>
    <img id="age-plot" src="/static/plots/age_graph.png/" />
    <br/><br/>
    <h4 class="download-heading">Concentration Plot</h4>
    <img id="age-plot" src="/static/plots/concentration_graph.png/" />

    <br /><br />
    <h4 class="download-heading">Download Outputs</h4>
    <br /> 
    <a class = "btn btn-success" href = "{{url_for('.download_log')}}">Download</a>
</div>
<br/><br/>
{% endblock %}