{% extends 'base-learnmore.html' %}

{% block content %}

<div class="main-content">
    <h1>About the project</h1>
    <div class="foreground-spacer-block"></div>
<br/>
  <h4> Introduction.</h4> 
 <p>U.S. public drinking water systems using surface water sources or ground water sources under
the direct influence of surface water are operated under the US EPA “Surface Water Treatment
Rules,” requiring most water systems to filter and disinfect water. Drinking water disinfection
is used to meet these and other state and federal water quality regulations for producing water
nationwide. However, maintaining water quality during distribution through millions of miles of
pipeline infrastructure still remains challenging. Biochemical deterioration of distribution
system components, including not only water mains and service lines owned by water utilities,
some a century old, but also privately-owned premise plumbing in buildings, is unavoidable as
revealed in the recent lead release and related Legionnaires’ disease outbreak in Flint,
Michigan. Water main line breaks are estimated at nearly 250 thousand per year in the U.S.
and increasing with aging systems. Breaches are among the most common causes of pathogen
intrusion and waterborne disease outbreaks. The pipelines in the distribution system, and
especially premise plumbing provide vast solid-liquid interfaces for such microorganisms to
form biofilms, that are central to several compliance issues and public health risks, including
accumulation and subsequent release of opportunistic pathogens. </p>
<h4>Focus</h4>
<p>
    Control of pathogen proliferation in pipe networks is a primary objective of disinfection, often
    by injection of free chlorine or monochloramine at the source collection point. These dissolved
    disinfectants serve as electron acceptors in redox reactions that reduce viable microorganisms
    including pathogens. However these disinfectants also react with organic matter, pipe wall
    materials, and other species, leading to their reduction or “decay.” Water age (time spent in
    the pipe network) has been found to serve as a primary indicator of water quality and
    remaining disinfectant. Further, aging in premises plumbing has been found important because
    of the high pipe surface area-to-volume ratio and long stagnation times that can occur within
    buildings, especially as vacancy rises, with the recent pandemic a sudden example. Thus it is
    useful to develop a simulator for water aging in premises plumbing systems. That is the job
    PIPESIM is designed to do.
</p>
<h4>Summary details</h4>
<p>
    PIPESIM reads two input files. Both files are Microsoft Excel “.csv” files. The
    first file gives information on the building pipe network including: lengths, diameters, materials,
    and several other descriptive parameters for each pipe; pipe connections; and outlets such as
    water fountains, kitchen faucets, bathroom lavatory faucets and toilets, and hose bibs. The
    second file gives a time series of flow events from outlets, including start and stop time and
    flow rates for each event. Using these data, for each flow event PIPESIM identifies the flowing
    subnetwork of the pipe system and updates water ages in each pipe involved in the
    
    subnetwork, and tells the age of the water eluting from the outlet. These calculations include
    advection, diffusion, and dispersion including pre-asymptotic dispersion, as selected by the
    user. It also can calculate concentrations of residual free chlorine or monochloramine (with an
    effective and simplified monochloramine reaction network in beta-testing status). The time
    granularity of these calculations are controlled by the user but typically are in single seconds or
    minutes. For more details on input file construction and how the code works, please refer to
    the Documentation.
</p>
<h4>History</h4>
<p>
    PIPESIM is a “particle tracking code” in that it uses imaginary particles as markers of parcels of
    water in the system. The first version of the code was developed by Nikita Ostrander, WSU CS
    student, using an algorithm for the particle position and age updates developed by Prof. Tim
    Ginn, in 2020-2021. Then developer Aidan Griffin developed the second version of the code,
    implementing chemical reactions for free chlorine or monochloramine, as well as diffusion and
    either asymptotic or pre-asymptotic dispersion, using models of the dispersive flux and pre-
    asymptotic dispersion coefficient devised by Prof. Ginn. Aidan also constructed the GUI and the
    downloadable application version for general use. Aidan was assisted by Kenji Adachi and
    Keagen Brendle in the early stages of this work. The development of PIPESIM has been done
    under funding support from the National Science Foundation CBET grant 1855211, and under
    the WSU Boeing Distinguished Professorship in Environmental Engineering.
</p>
    <p>Check out our <a href="https://github.com/WSUCptSCapstone-Fall2022Spring2023/nsf-pipesimpython">Github!</a></p>

{% endblock %}

